<h1>오늘 하루를 반성해보기</h1>
<p>잘못한 일을 솔직하게 적어보세요*^^*</p>
<form action="/home/update/<%=@post.id%>" method="post">
    제목: <input type="text" name="title" value="<%=@post.title%>"><br>
    내용: <input type="text" name="content" value="<%=@post.content%>"><br>
    <input type="submit" value="제출" value="수정">
</form>

